/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable at-rule-no-unknown */

@layer base {
  :root {
    --background: 100 25% 98%; /* #F7FDF9 */
    --foreground: 210 50% 10%; /* #0D1B2A */
    --card: 100 25% 98%;
    --card-foreground: 210 50% 10%;
    --popover: 100 25% 98%;
    --popover-foreground: 210 50% 10%;
    --primary: 147 50% 62%; /* #6FCF97 */
    --primary-foreground: 210 50% 10%;
    --secondary: 203 72% 52%; /* #2D9CDB */
    --secondary-foreground: 100 25% 98%;
    --muted: 100 25% 90%;
    --muted-foreground: 210 50% 30%;
    --accent: 180 79% 54%; /* #32E0E0 */
    --accent-foreground: 210 50% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 100 25% 85%;
    --input: 100 25% 85%;
    --ring: 147 50% 62%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem
  }
  .dark {
    --background: 210 50% 7%;
    --foreground: 100 25% 98%;
    --card: 210 50% 7%;
    --card-foreground: 100 25% 98%;
    --popover: 210 50% 7%;
    --popover-foreground: 100 25% 98%;
    --primary: 147 50% 70%;
    --primary-foreground: 210 50% 7%;
    --secondary: 203 72% 60%;
    --secondary-foreground: 100 25% 98%;
    --muted: 210 50% 20%;
    --muted-foreground: 100 25% 70%;
    --accent: 180 79% 65%;
    --accent-foreground: 210 50% 7%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 50% 20%;
    --input: 210 50% 20%;
    --ring: 147 50% 70%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  /* Hide native scrollbars visually but keep scrolling functional */
  html,
  body,
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Chrome, Safari and Opera */
  html::-webkit-scrollbar,
  body::-webkit-scrollbar,
  .no-scrollbar::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}
